<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hello World!</title>
</head>
<body>
<body>
<!--h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1-->
<h1 th:text="'Hello ' + ${username}"></h1>
<!--p>Click <a th:href="@{/logout}">here</a> to Log out.</p-->
<form th:action="@{/logout}" method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="submit" value="Sign Out"/>
</form>
</body>
</body>
</html>